Start by getting your db ready.  

* make a copy of `local.env` and call it `.env`
* by default this file is never checked in to git so it is safe to put your connection details into
* you will need:  

```
SQL_SERVER_USERNAME="" 
SQL_SERVER_ENDPOINT=""
SQL_SERVER_PASSWORD=""  
SQL_SERVER_DATABASE=""
```

**Make sure you are editing the `.env` file**

We'll use python's "dotnenv" package to secure our env variables to connect to our sql server.

In [ ]:
! pip install python-dotenv pandas pyodbc

In [ ]:
## do all the import statements
import os
from os.path import join, dirname
from dotenv import load_dotenv
import pyodbc
import pandas as pd

In [8]:
%load_ext dotenv
%dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [ ]:
SQL_SERVER_ENDPOINT = os.environ.get("SQL_SERVER_USERNAME")
SQL_SERVER_DATABASE = os.environ.get("SQL_SERVER_DATABASE")
SQL_SERVER_USERNAME = os.environ.get("SQL_SERVER_USERNAME")
SQL_SERVER_PASSWORD = os.environ.get("SQL_SERVER_PASSWORD")

print(SQL_SERVER_ENDPOINT)
print(SQL_SERVER_DATABASE)
print(SQL_SERVER_USERNAME)
print(SQL_SERVER_PASSWORD)

Now let's load the titanic dataset into our SQL Server

In [19]:
titanic = pd.read_csv("titanic.csv").fillna(value=0)
titanic.head(5) # show the first 5 rows of the dataframe

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [21]:
# Now let's make sure we can connect to our SQL Server

# Create the connection string
connection_string = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={SQL_SERVER_ENDPOINT};DATABASE={SQL_SERVER_DATABASE};UID={SQL_SERVER_USERNAME};PWD={SQL_SERVER_PASSWORD}'

# Establish the connection
conn = pyodbc.connect(connection_string)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT 'HELLO WORLD' AS message")

results = cursor.fetchall()

for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 18 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 18 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 18 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to sa. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')